{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>严肃的人口学八卦</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'board/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">
    {% block mainbody %}
        <p>Please overwrite this block!</p>
    {% endblock %}
</div>
<footer class="border-top bg-light">
    <div class="container text-center ">
        <img class="center-block" src="{% static 'board/assets/footer.jpeg' %}" width="50%" alt="Footer_logo">
    </div>
    <div class="text-center" style="margin: 30;">© 2019 Copyright: 严肃的人口学八卦</div>
</footer>
<script src="{% static 'board/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'board/js/bootstrap.min.js' %}"></script>
</body>


</html>