{% extends "board/base.html" %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand navbar-dark bg-light">
        <a class="navbar-brand" href="">
            <img src="{% static 'board/assets/top.png' %}" alt="Logo">
        </a>
        <div class="navbar-text text-dark text-center lead" style="margin: 0 auto;font-size: 30px;font-weight: bold;">留言板
        </div>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-info lead text-center" style="width: 85px;"
                   href="{% url 'board:logout' %}">注销</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block mainbody %}
    <div class="text-center" style="margin-top:50px;">
        <h1>留言详情</h1>
        <div class="jumbotron">
            <h3 class="display-3">{{ message.wechat_id }}</h3>
            <p class="lead">"{{ message.message_text }}"</p>
            <hr class="my-4">
            <form action="{% url 'board:detail' message.id 1 %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="text-box">回复</label>
                    <textarea required name="text-box" class="form-control" id="text-box" rows="3"></textarea>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="提交">
            </form>
            <a class="btn btn-primary" href="{% url 'board:manage' %}">返回</a>
        </div>
    </div>


{% endblock %}