{% extends "board/base.html" %}

{% block mainbody %}
<h1>留言详情</h1>
<hr>
<br>
<div class="jumbotron">
    <h3 class="display-3">{{ message.wechat_id }}</h3>
    <p class="lead">"{{ message.message_text }}"</p>
    <hr class="my-4">
    <form action="{% url 'board:detail' message.id 1 %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="text-box">回复</label>
            <textarea name="text-box" class="form-control" id="text-box" rows="3"></textarea>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="提交">
    </form>
</div>

{% endblock %}