{% extends "board/base.html" %}

{% block mainbody %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">留言板</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'board:write_message' %}">留言</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link text-light" href="{% url 'board:manage' %}">管理</a>
        </form>
    </div>
</nav>
<div style="margin-top:50px;">
    {% if latest_message_list %}
    {% for message in latest_message_list %}
    <div class="card mb-3 border-primary" style="margin:0 15%;">
        <h4 class="card-header">{{ message.wechat_id }}</h4>
        <div class="card-body">
            <h5 class="card-title">{{ message.message_text }}</h5>
            <h6 class="card-subtitle text-muted">{{ message.send_time }}</h6>
        </div>
        {% if message.response_text %}
        <div class="card-footer bg-light">
            {{ message.response_text }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p>There is no message on the board!</p>
    {% endif %}
    <div class="row justify-content-center">
        <a class="btn btn-primary" style="margin-right: 20px;" href="{% url 'board:index' last_page %}">上一页</a>
        <a class="btn btn-primary" style="margin-left: 20px;" href="{% url 'board:index' next_page %}">下一页</a>
    </div>
</div>

{% endblock %}