{% extends "board/base.html" %}
{% load static %}

{% block mainbody %}

    <div class="text-center" style="margin-top: 50px;">
        <div class="jumbotron">
            <form action="{% url 'board:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username-box">用户名</label>
                    <input name="username" type="text" class="form-control" id="username-box">
                </div>
                <div class="form-group">
                    <label for="password-box">密码</label>
                    <input name="password" type="password" class="form-control" id="password-box">
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <input class="btn btn-primary btn-block" type="submit" value="登陆">
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-6">
                    <a class="btn btn-primary btn-block" href="{% url 'board:index' %}">返回</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}