{% if need_to_check_list %}
    <ul>
    {% for message in need_to_check_list %}
        <li>
            {% if message.is_checked %}
                <span>(已通过审核)</span>
            {% else %}
                <span>(未审核)</span>
            {% endif %}
            {{ message.message_text }}
            <a href="{% url 'board:check_pass' message_id=message.id page_num=current_page %}">通过审核</a>
            <a href="{% url 'board:detail' message_id=message.id page_num=current_page %}">回复</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No message are available.</p>
{% endif %}
<a href="{% url 'board:manage' last_page %}">上一页</a>
<a href="{% url 'board:manage' next_page %}">下一页</a>