{% extends "board/base.html" %}

{% block mainbody %}
    <h1>留言审核</h1>
    <hr>
    <br>
    {% if need_to_check_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">留言人</th>
                    <th scope="col">留言时间</th>
                    <th scope="col">内容</th>
                    <th scope="col">状态</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for message in need_to_check_list %}
                <tr>
                    <td>{{message.wechat_id}}</td>
                    <td>{{message.send_time}}</td>
                    <td>{{message.message_text}}</td>
                    <td>
                        {% if message.is_checked %}
                            已通过
                        {% else %}
                            未审核
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'board:check_pass' message_id=message.id page_num=current_page %}">通过审核</a>
                        <a href="{% url 'board:detail' message_id=message.id page_num=current_page %}">回复</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No message are available.</p>
    {% endif %}
    <br>
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'board:manage' last_page %}">上一页</a>
        <a class="btn btn-primary" href="{% url 'board:manage' next_page %}">下一页</a>
    </div>
{% endblock %}
