{% extends "board/base.html" %}
{% load static %}

{% block mainbody %}
    <div class="text-center" style="margin-top: 50px;">
        <div class="jumbotron">
            <form action="{% url 'board:write_message' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="wechat-box">昵称</label>
                    <input required name="wechat-box" type="text" class="form-control" id="wechat-box">
                </div>
                <div class="form-group">
                    <label for="text-box">留言内容</label>
                    <textarea required name="text-box" class="form-control" id="text-box" rows="3"></textarea>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <input class="btn btn-primary btn-block" type="submit" value="提交">
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-6">
                    <a class="btn btn-primary btn-block" href="{% url 'board:index' %}">返回</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}